<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Monitor Devices</title>
</head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>
<div class="w3-container">
<table class="w3-table-all">
    <tr>
        <th>Device ID</th>
        <th>Last Update</th>
        <th>Status</th>
    </tr>
    {% for row in data %}
    <tr>
        <td>{{ row.0 }}</td>
        <td>{{ row.1 }}</td>
        <td style="color:{{row.2}}">{{ row.3 }}</td>
    </tr>
    {% endfor %}
</table>
</div>
</body>
</html>